/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/img
/public/ayuda/
/public/images/vendor/datatables/
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
.env
.docker-compose.yml
composer.lock
package-lock.json
yarn.lock
.DS_Store